/* login background color: rgba(40,57,101,0.9); */

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.btn--full:link, 
.btn--full:visited {
  background-color: #4dabf7 !important;
  color: #fff !important;;
}

.btn--full:hover,
.btn--full:active {
  background-color: #1864ab !important;;
}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:100rem;
	min-height:75rem;
	position:relative;
	box-shadow:0 1.2rem 1.5rem 0 rgba(0,0,0,.24),0 1.7rem 5rem 0 rgba(0,0,0,0.19);

}
.login-wrap{
	color:hsla(205, 100%, 95%, 0.3);
	font-size: 1.8rem;
	font:800;
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:5rem 5rem;
	background:rgba(40,57,101,0.9);

}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:2.2rem;
	margin-right:1.5rem;
	padding-bottom:0.5rem;
	margin:0 1.5rem 1rem 0;
	display:inline-block;
	border-bottom:0.2rem solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:34.5rem;
	position:relative;
	perspective:100rem;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:1.5rem;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:1.5rem 2rem;
	border-radius:0.9rem;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:1.6rem;
}
.login-form .group .button{
	background:#4dabf7;
}
.login-form .group label .icon{
	width:1.6rem;
	height:1.6rem;
	border-radius:0.2rem;
	margin-right: 0.6rem;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:1rem;
	height:0.2rem;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:0.3rem;
	width:0.5rem;
	bottom:0.6rem;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:0.6rem;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#4dabf7;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:0.2rem;
	margin:6rem 0 5rem 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

.label{
	margin-bottom: 1.8rem;
}


.mb-sm{
margin-bottom: 2rem;
}

.mt-sm{
	margin-top: 3rem;
}